body
{
    background-color: #FFFFFF;
    color: #000000;
}

header
{
    background-color: #None;
}

nav
{
    background-color: #None;
}

maim
{
    background-color: #None;
}

footer
{
    background-color: #None;
}
