body
{
    background-color: #33ccff;
    color: #:FFFFFF;
}

header
{
    background-color: #66ccff;
}

nav
{
    background-color: #99ccff;
}

maim
{
    background-color: #ccccff;
}

footer
{
    background-color: #ffccff;
}
